<!DOCTYPE html>
<html ng-app="Runoppa">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>RUNOPPA</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body ng-controller="Productor">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="logo.png" alt="logo" height="54"></a>
      

 <ul id="slide-out" class="side-nav">
      <li><a href="#!">Inicio</a></li>
      <li><a href="productores.html">Productores</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Catálogos<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">1</a></li>
                <li><a href="#!">2</a></li>
                <li><a href="#!">3</a></li>
                <li><a href="#!">4</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!">Inicio</a></li>
      <li><a href="productores.html">Productores</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Catálogos<i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">1</a></li>
        <li><a href="#!">2</a></li>
        <li><a href="#!">3</a></li>
        <li><a href="#!">4</a></li>
      </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
     
    </div>
  </nav>


<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h5>Tipo de persona</h5>
    </div>
  </div>


  <div class="row">
    <div class="col s12 center">
    
      <input name="pt" type="radio" value="Natural" id="naturalPersonType" ng-model="personType" ng-change="personTypeSelected();"/> <label for="naturalPersonType">Natural</label>
      <input name="pt" type="radio" value="Juridica" id="legalPersonType" ng-model="personType" ng-change="personTypeSelected();"/> <label for="legalPersonType">Jurídica</label>

     
    </div>
  </div>

  <div class="row" ng-show="block">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">zoom_in</i>Información - Persona {{personType}}</div>
          <div class="collapsible-body"> <!--Información personal -->

            <div class="row">
              <div class="col s2">{{preidentifier}}</div>
                <div class="col s4">
                <!--{{preidentifierCodeList}}
                <pre>{{preidentifierList | json}}</pre>-->
                <select id="nacionality" ng-model="preidentifierList"  ng-options="item.name for item in preidentifierCodeList track by item.id">
                   <!-- <option ng-repeat="option in preidentifierCodeList">{{option.textos}}</option>-->
                  </select>
                </div>

                <div class="col s2 center">
                 {{identifier}}
                </div>
                    
                <div class="col s4 center">
                  <input type="text" name="identificator" id="identificator" placeholder="Documento">
                </div>
            </div>


            <!--Natural Person-->
            <div id="naturalPerson" ng-show="naturalBlock">
              <div class="row">
                <div class="col s2">Primer Nombre</div>
                <div class="col s4">
                  <input type="text" id="firstname" name="firstname" placeholder="Primer nombre">
                </div>
                <div class="col s2">Segundo nombre</div>
                <div class="col s4">
                  <input type="text" id="secondname" name="secondname" placeholder="Segundo nombre">
                </div>
              </div>

              <div class="row">
                <div class="col s2">Primer apellido</div>
                <div class="col s4">
                  <input type="text" id="lastname" name="lastname" placeholder="Primer apellido">
                </div>
                
                <div class="col s2">Segundo apellido</div>
                
                <div class="col s4">
                  <input type="text" id="surname" name="surname" placeholder="Segundo apellido">
                </div>
              </div> 

              <div class="row">
                <div class="col s2">Fecha de nacimiento</div>
                
                <div class="col s4">
                  <input type="date" id="birthdate" name="birthdate" placeholder="Fecha de nacimiento">
                </div>
                
                <div class="col s2">Sexo</div>  
                
                <div class="col s4">
                  <input name="sexo" type="radio" value="F" id="F" /> <label for="F">F</label>
                  <input name="sexo" type="radio" value="M" id="M"/> <label for="M">M
                </div>
              </div>

              <div class="row">
                <div class="col s2">Estado civil</div>  
                
                <div class="col s4">
                 <select name="civilState">
                 <option value="S">Soltero</option>
                 <option value="C">Casado</option>
                 <option value="V">Viudo</option>
                 <option value="D">Divorciado</option>
                 <option value="U">Unión estable</option>
                 </select>
                </div>    
              
                <div class="col s2">Nivel de instrucción</div>    
                
                <div class="col s4">
                  <select name="instructionlevel">
                    <option value="S">Primaria</option>
                    <option value="C">Bachiller</option>
                    <option value="V">T.S.U</option>
                    <option value="D">Universitario</option>
                    <option value="U">Postgrado</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col s4">¿Pertenece a alguna comunidad indígena?</div>
                <div class="col s2">
                   <input type="radio" name="rci" value="S" id= "cis" checked/>
                   <label for="cis">Si</label>
                   <input type="radio" name="rci" value="N" id= "cin"/>
                   <label for="cin"> No </label>
                </div>
                <div class="col s6">
                   <input type="text" id="ci" name="ci" placeholder="Comunidad indigena">
                </div>
              </div> 

              <div class="row">
                <div class="col s4">¿Pertenece a alguna organización popular?</div>
                <div class="col s2">
                   <input type="radio" name="pop" id="pops" checked/>
                   <label for="pops">Si</label>                 
                   <input type="radio" name="pop" id="popn" />
                   <label for="popn">No</label>  
                </div>
                <div class="col s3">
                   <input type="text" id="op" name="op" placeholder="Organización popular">
                </div>
                <div class="col s2">
                   <a href="#">Agregar</a>
                </div>
                <div class="col s1">&nbsp;</div>                        

              </div>


              <div class="row">
                <div class="col s4">¿Vive en la unidad de producción?</div>
                <div class="col s8">
                  <input type="radio" name="isLiving" value="Si" id="isLivingS"/> 
                  <label for="isLivingS">Si</label> 
                  <input type="radio" name="isLiving" value="No" id="isLivingN"/>
                  <label for="isLivingN">No</label>
                </div>
              </div> 

              <div class="row">
                <div class="col s2">¿Es propietario?</div>
                <div class="col s2">
                   <input type="radio" name="isOwner" checked>
                   <label>Si</label>
                   <input type="radio" name="isOwner">
                   <label> No </label>
                </div>
                
                <div class="col s2">¿Es representante legal?</div>
                <div class="col s2">
                   <input type="radio" name="isLegalRepresentative" id="ilrs" checked/>
                   <label for="ilrs">Si</label>
                   <input type="radio" name="isLegalRepresentative" id="ilrn" >
                   <label for="ilrn"> No </label>
                </div>
                <div class="col s4">&nbsp;</div>                        
              </div>                       
            </div><!--Fin de persona Natural-->

             <!--Inicio Persona Jurídica-->
            <div id="legalPerson" ng-show="legalBlock">
              <div class="row">
                <div class="col s2">Razón social</div>
                <div class="col s10">
                  <input type="text" id="socialname" name="socialname" placeholder="Razón social">
                </div>
              </div>
            </div> <!--Fin de persona jurídica--> 

          </div><!--Fin de información personal-->
        </li>

        <li>
          <div class="collapsible-header"><i class="material-icons">zoom_in</i>Dueños/productores(adicionales) de la tierra </div>
          <div class="collapsible-body">
         
            <div class="row">
              <div class="col s2">Nacionalidad</div>
              
              <div class="col s4">
                <input type="text" id="nowner" name="nowner" placeholder="Nacionalidad">
              </div>
              
              <div class="col s2">Cédula o pasaporte</div>
              
              <div class="col s4">
                <input type="text" id="cowner" name="cowner" placeholder="Cédula o pasaporte">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Primer Nombre</div>
              
              <div class="col s4">
                <input type="text" id="fnowner" name="fnowner" placeholder="Primer nombre">
              </div>
              
              <div class="col s2">Segundo nombre</div>
              
              <div class="col s4">
                <input type="text" id="snowner" name="snowner" placeholder="Segundo nombre">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Primer apellido</div>

              <div class="col s4">
                <input type="text" id="lnowner" name="lnowner" placeholder="Primer apellido">
              </div>
              
              <div class="col s2">Segundo apellido</div>
              
              <div class="col s4">
                <input type="text" id="slnowner" name="slnowner" placeholder="Segundo apellido">
              </div>
            </div>
            
            <div class="row">
              <div  class="col s2">Fecha de nacimiento</div>
              
              <div  class="col s4">
                <input type="date" id="birthdateowner" name="birthdateowner" placeholder="Fecha de nacimiento">
              </div>
              
              <div  class="col s2">Sexo</div>  
              
              <div  class="col s4">
                <input type="radio" name="sexowner" id="sexownerf" checked/>
                 <label for="sexownerf">F</label>
                 <input type="radio" name="sexowner" id="sexownerm">
                 <label for="sexownerm"> M </label>
              </div>
            </div>
                        
            <div class="row">
              <div class="col s2">Estado civil</div>  
              
              <div class="col s4">
               <select name="civilStateowner">
               <option value="S">Soltero</option>
               <option value="C">Casado</option>
               <option value="V">Viudo</option>
               <option value="D">Divorciado</option>
               <option value="U">Unión estable</option>
               </select>
              </div>    
            
              <div class="col s2">Nivel de instrucción</div>    
              
              <div class="col s4">
                <select name="instructionlevelowner">
                  <option value="S">Primaria</option>
                  <option value="C">Bachiller</option>
                  <option value="V">T.S.U</option>
                  <option value="D">Universitario</option>
                  <option value="U">Postgrado</option>
                </select>
              </div>
            </div> 

            <div class="row">
              <div class="col s4">¿Pertenece a alguna comunidad indígena?</div>
              <div class="col s2">
                 <input type="radio" name="ciowner" value="S" id= "ciowners" checked/>
                 <label for="ciowners">Si</label>
                 <input type="radio" name="ciowner" value="N" id= "ciownern"/>
                 <label for="ciownern"> No </label>
              </div>
              <div class="col s6">
                 <input type="text" id="ciowner" name="ciowner" placeholder="Comunidad indigena">
              </div>
            </div>

            <div class="row">
              <div class="col s4">¿Pertenece a alguna organización popular?</div>
              <div class="col s2">
                 <input type="radio" name="opowner" id="opowners" checked/>
                 <label for="opowners">Si</label>
                 <input type="radio" name="opowner" id="opownern">
                 <label for="opownern"> No </label>
              </div>
              <div class="col s3">
                 <input type="text" id="opowner" name="opowner" placeholder="Organización popular">
              </div>
              <div class="col s2">
                 <a href="#">Agregar</a>
              </div>
              <div class="col s1">&nbsp;</div>                        
            </div>

            <div class="row">
              <div class="col s4">¿Vive en la unidad de producción?</div>
              <div class="col s8">
                <input type="radio" name="isLivingowner" id="isLivingowners" value="Si"/> 
                <label for="isLivingowners">Si</label>
                <input type="radio" name="isLivingowner" id="isLivingownern" value="No">
                <label for="isLivingownern">No</label>
              </div>
            </div> 

            <div class="row">
              <div class="col s2">¿Es propietario?</div>
              <div class="col s2">
                 <input type="radio" name="isOwner" id="isOwners" checked/>
                 <label for="isOwners">Si</label>
                 <input type="radio" name="isOwner" id="isOwnern">
                 <label for="isOwnern"> No </label>
              </div>
              <div class="col s2">¿Es representante legal?</div>
              <div class="col s2">
                 <input type="radio" name="isLegalRepresentativeowner" id="isLegalRepresentativeowners" checked/>
                 <label for="isLegalRepresentativeowners">Si</label>
                 <input type="radio" name="isLegalRepresentative" id="isLegalRepresentativeownern"/>
                 <label for="isLegalRepresentativeowners"> No </label>
              </div>
              <div class="col s4">&nbsp;</div>
            </div>                       


            <div class="row">
              <div class="col s12 center">
               <a href="#">Agregar</a>
              </div>
            </div> 

           </div><!--Fin collapse dueño-->
        </li>
        
        <li>
          <div class="collapsible-header"><i class="material-icons">zoom_in</i>Datos de contacto</div>
          <div class="collapsible-body">

            <div class="row">
              <div class="col s2">Teléfono local</div>
              
              <div class="col s4">
                <input type="text" id="homephone" name="homephone" placeholder="Teléfono local">
              </div>
              
              <div class="col s2">Teléfono celular</div>
              
              <div class="col s4">
                <input type="text" id="celphone" name="celphone" placeholder="Teléfono celular">
              </div>
            </div>  
            
            <!--Legal person-->
            <div id="legalPerson" ng-show="legalBlock">
              <div class="row">
                <div class="col s2">Teléfono local 2</div>
            
                <div class="col s4">
                  <input type="text" id="homephone2" name="homephone2" placeholder="Teléfono local 2">
                </div>
            
                <div class="col s2">Teléfono celular 2</div>
            
                <div class="col s4">
                    <input type="text" id="delphone2" name="celphone2" placeholder="Teléfono celular 2">
                </div>
              </div>
            </div> 
          <!--End Legal Person-->
  
            <hr>

            <div class="row">
              <div class="col s2">Redes sociales</div>
              <div class="col s4">
                <select ng-model="selectedNetwork" multiple>
                  <option>Twitter</option>
                  <option>Facebook</option>
                  <option>Instagram</option>
                  <option>Whatsapp</option>
                </select>
                <br>
              </div>
              <div class="col s6">&nbsp;</div>
            </div>
            
            <hr>
            <div class="row">
              <div class="col s2">Estado</div>

              <div class="col s4">
                  <input type="text" id="state" name="state" placeholder="Estado">
              </div>

              <div class="col s2">Ciudad</div>
              <div class="col s4">
                  <input type="text" id="city" name="city" placeholder=Ciudad>
              </div>
            </div>

            <div class="row">
              <div class="col s2">
                <label for="state">Municipio</label>
              </div>
              <div class="col s4">
                  <input type="text" id="municipalty" name="municipalty" placeholder="Municipio">
              </div>
            
              <div class="col s2">Parroquia</div>
              <div class="col s4">
                  <input type="text" id="parish" name="parish" placeholder="Parroquia">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Dirección</div>
              <div class="col s4">
               <textarea type="text" id="address" name="address" placeholder="Dirección">
               </textarea>
              </div>

              <div class="col s2">Email</div>
              
              <div class="col s4">
                <input type="email" id="email" name="email" placeholder="Email">
              </div>
            </div>

            <hr>



          <!--Datos de contacto--> 
          <div class="row">
            <div class="col s12">
             <h5>Información de contactos</h5>
            </div>
          </div> 

          <div class="row">
            <div class="col s2">Nacionalidad</div>
            
            <div class="col s4">
              <input type="text" id="preidenifiercontact" name="preidenifiercontact" placeholder="Nacionalidad">
            </div>
            
            <div class="col s2">Cédula o pasaporte</div>
            
            <div class="col s4">
              <input type="text" id="identifiercontact" name="identifiercontact" placeholder="Cédula o pasaporte">
            </div>
          </div>

          <div class="row">
            <div class="col s2">Primer Nombre</div>
            
            <div class="col s4">
              <input type="text" id="contactFirstname" name="contactFirstname" placeholder="Primer nombre">
            </div>
            
            <div class="col s2">Segundo nombre</div>
            
            <div class="col s4">
              <input type="text" id="secondnamecontact" name="secondnamecontact" placeholder="Segundo nombre">
            </div>
          </div>

          <div class="row">
            <div class="col s2">Primer apellido</div>

            <div class="col s4">
              <input type="text" id="lastnamecontact" name="lastnamecontact" placeholder="Primer apellido">
            </div>
            
            <div class="col s2">Segundo apellido</div>
            
            <div class="col s4">
              <input type="text" id="surnamecontact" name="surnamecontact" placeholder="Segundo apellido">
            </div>
          </div>

          <div class="row">
            <div class="col s2">Teléfono</div>

            <div class="col s4">
              <input type="text" id="contactPhone" name="contactPhone" placeholder="Teléfono de contacto">
            </div>
            
            <div class="col s2">Relación</div>
            
            <div class="col s4">
              <input type="text" id="familiarRelation" name="familiarRelation" placeholder="Familiar/otro">
            </div>
          </div>


          
          <div class="row">
            <div class="col s12 center">
              <a href="#">Agregar</a>
            </div>
          </div>                    

          </div> <!--Fin datos de contacto-->
        </li>
        
        <li>
          <div class="collapsible-header"><i class="material-icons">zoom_in</i>Certificación previa</div>
          <div class="collapsible-body">
                   
            <div class="row">
              <div class="col s2">Serial</div>

              <div class="col s4">
                <input type="text" id="serial" name="serial" placeholder="Serial">
              </div>

              <div class="col s2">Estado</div>

              <div class="col s4">
                <input type="text" id="statuscertificate" name="statuscertificate" placeholder="Estado">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Fecha emisión</div>

              <div class="col s4">
                <input type="text" id="issuedate" name="issuedate" placeholder="fecha emisión">
              </div>

              <div class="col s2">Fecha expedición</div>

              <div class="col s4">
                <input type="text" id="expdate" name="expdate" placeholder="fecha expedición">
              </div>
            </div>                                  
    


          </div> <!--Fin certificación previa-->
        </li>    
        
        <li>
          <div class="collapsible-header"><i class="material-icons">zoom_in</i>Unidad de producción</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s2">Tipo documento</div>

              <div class="col s4">
                <input type="text" id="documenttype" name="documenttype" placeholder="Tipo de documento">
              </div>

              <div class="col s2">Nro. documento tierra</div>

              <div class="col s4">
                <input type="text" id="docnumber" name="docnumber" placeholder="Nro. Documento de tierra">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Nombre</div>

              <div class="col s4">
                <input type="text" id="unityname" name="unityname" placeholder="Nombre de la unidad">
              </div>

              <div class="col s2">Total superficie
              </div>

              <div class="col s4">
                <input type="text" id="totalsurface" name="totalsurface" placeholder="Total superficie (km2)">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Superficie usable</div>

              <div class="col s4">
                <input type="text" id="usablesurface" name="usablesurface" placeholder="Superficie usable (km2)">
              </div>

              <div class="col s2">Superficie usada</div>

              <div class="col s4">
                <input type="text" id="usedsurface" name="usedsurface" placeholder="Superficie usada (km2)">
              </div>
            </div>

            <div class="row">
              <div class="col s2">Tipo de tenencia</div>

              <div class="col s4">
                <input type="text" id="usablesurface" name="usablesurface" placeholder="Superficie usable (km2)">
              </div>

              <div class="col s6"> 
              &nbsp;
              </div>
            </div>

            <div class="row">
              <div class="col s2">Capac. exportación</div>

              <div class="col s4">
                <input type="radio" name="export" id="exportsi" value="Si"/> 
                <label for="exportsi">Si</label>
                <input type="radio" name="export" id="exportno" value="No"/>
                <label for="exportno">No</label>
              </div>

              <div class="col s2">Nec. importación</div>

              <div class="col s4">
                <input type="radio" name="import" id="imports" value="Si"/> 
                <label for="imports">Si</label>
                <input type="radio" name="import" id="importn" value="No"/>
                <label for="importn">No</label>
              </div>
            </div>

            <div class="row">
              <div class="col s2">Dep. control calidad</div>

              <div class="col s4">
                <input type="radio" name="qualitydpt" id="qualitydpts" value="Si"/> 
                <label for="qualitydpts">Si</label>
                <input type="radio" name="qualitydpt" name="qualitydptn" value="No"/>
                <label for="qualitydptn">No</label>
              </div>

              <div class="col s2">Dep. investigación</div>

              <div class="col s4">
                <input type="radio" name="investigatedpt" id="investigatedpts" value="Si"/> 
                <label for="investigatedpts">Si</label>
                <input type="radio" name="investigatedpt" name="investigatedptn" value="No"/>
                <label for="investigatedpts">No</label>
              </div>
            </div>

            <div class="row">
              <div class="col s2">Plan piloto</div>

              <div class="col s4">
                <input type="radio" name="pilotplan" id="pilotplans" value="Si"/> 
                <label for="pilotplans">Si</label>
                <input type="radio" name="pilotplan" id="pilotplann" value="No"/>
                <label for="pilotplann">No</label>
              </div>

              <div class="col s2">Part. comunidad</div>

              <div class="col s4">
                <input type="radio" name="community" id="communitys" value="Si"/> 
                <label for="communitys">Si</label>
                <input type="radio" name="community" id="communityn" value="No"/>
                <label for="communityn">No</label>
              </div>
            </div>

            <div class="row">
              <div class="col s2">Sica</div>

              <div class="col s4">
                <input type="radio" name="sica" id="sicas" value="Si"/> 
                <label for="sicas">Si</label>
                <input type="radio" name="sica" id="sican" value="No"/>
                <label for="sican">No</label>
              </div>

              <div class="col s2">Sunagro</div>

              <div class="col s4">
                <input type="radio" name="sunagro" id="sunagros" value="Si"/> 
                <label for="sunagros">Si</label>
                <input type="radio" name="sunagro" id="sunagron" value="No"/>
                <label for="sunagron">No</label>
              </div>
            </div>

            <div class="row">
              <div class="col s2">¿Se encuentra adscrita a algún organismo?</div>

              <div class="col s4">
                <input type="radio" name="organism" id="organisms" value="Si"/> 
                <label for="organisms">Si</label>
                <input type="radio" name="organism" id="organismn" value="No"/>
                <label for="organismn">No</label>
              </div>

              <div class="col s6"> 
                <label>&nbsp;</label>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col s12">&nbsp;</div>
            </div> 

            <div class="row">
              <div class="col s2">Servicios</div>
              <div class="col s4">
                <select ng-model="selectedServices" multiple>
                  <option>Agua potable</option>
                  <option>Agua servidas</option>
                  <option>Telefonía celular</option>
                  <option>Transporte público</option>
                  <option>Telefonía fija</option>
                  <option>Vías asfaltadas</option>
                  <option>Vías por asfaltar</option>
                  <option>Internet</option>
                </select>
              </div>

              <div class="col s2">Transporte</div>

              <div class="col s4">
                <select ng-model="selectedTransport" multiple>
                  <option>Carro</option>
                  <option>Camioneta</option>
                  <option>Pickup</option>
                  <option>Camión</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col s2"> Maquinaria</div>

              <div class="col s4">
                <select ng-model="selectedMachine" multiple>
                  <option>Máquina1</option>
                  <option>Máquina2</option>
                  <option>Máquina3</option>
                </select>
              </div>

              <div class="col s2">Edificios</div>

              <div class="col s4">
                <select ng-model="selectedBuilding" multiple>
                  <option>Edificio 1</option>
                  <option>Edificio 2</option>
                  <option>Edificio 3</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col s2">Problemas frecuentes</div>

              <div class="col s4">
                <select ng-model="selectedTroubles" multiple>
                  <option>Hurto</option>
                  <option>Incendio</option>
                  <option>Inundación</option>
                  <option>Sequía</option>
                </select>
              </div>

              <div class="col s2">Principal fuente de agua</div>

              <div class="col s4">
                <select ng-model="selectedWater" multiple>
                  <option>Acueducto</option>
                  <option>Aljibe</option>
                  <option>Laguna</option>
                  <option>Manantial</option>
                  <option>Sistema de riego</option>
                  <option>Pozo comunitario</option>
                  <option>Planta de tratamiento</option>
                  <option>Quebrada</option>
                  <option>Río</option>
                </select>
              </div>
            </div>
 
            <div class="row">
              <div class="col s2">Vialidad agrícola</div>

              <div class="col s4">
                <select ng-model="selectedVia" multiple>
                  <option>Asfaltada</option>
                  <option>Garzón</option>
                  <option>Porces de asfalto</option>
                  <option>Tierras</option>
                  <option>Concreto</option>
                  <option>Otro</option>
                </select>
              </div>

              <div class="col s2">Destino de la producción</div>

              <div class="col s4">
                <select ng-model="selectedDestiny" multiple>
                  <option>Autoconsumo</option>
                  <option>Mercado</option>
                  <option>Intermedio</option>
                  <option>A puerta de granja</option>
                  <option>Industria</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>
                   
            <div class="row">
              <div class="col s12">
                <span> Tipo de sector: 
                    <input type="checkbox" name="sectorVegetal" id="sectorVegetal" value="vegetal" ng-model="sectorVegetal" ng-click="vegetalSelected();"/>
                    <label for="sectorVegetal">Vegetal</label>
                    <input type="checkbox" name="sectorPecuario" id="sectorPecuario"value="pecuario" ng-model="sectorPecuario" ng-click="pecuarioSelected();"/><label for="sectorPecuario">Pecuario</label>
                    <input type="checkbox" name="sectorAgroIndustria" id="sectorAgroIndustria" value="agroIndustria" ng-model="sectorAgroIndustria" ng-click="agroIndustriaSelected();"/>
                    <label for="sectorAgroIndustria">Agroindustria</label>
                 </span>
              </div>
            </div> 

            <!--Inicio sector vegetal--> 
            <div ng-show="vegetalBlock">                  
              <div class="row">
                <div class="col s2">Método de riego</div>

                <div class="col s4">
                  <select ng-model="selectedIrrigation" multiple>
                    <option>Aspersión</option>
                    <option>Bombeo mecánico</option>
                    <option>Goteo</option>
                    <option>Gravedad</option>
                    <option>Microaspersión</option>
                    <option>No posee</option>
                  </select>
                 </div>
              
                <div class="col s2">Capacidad de riego</div>

                <div class="col s4">
                  <input type="text" id="irrigationCapacity" name="irrigationCapacity" placeholder="Capacidad de Riego (Hect)">
                </div>
              </div>

              <div class="row">
                <div class="col s2">Tipo de ambiente</div>

                  <div class="col s4">
                    <input type="radio" name="environmentType" id="environmentTypep" name="environmentType"alue="protected"/> 
                    <label for="environmentTypep">Cultivo protegido</label>
                    <input type="radio" name="environmentType" id="environmentTypenp" value="unprotected"/>
                    <label for="environmentTypenp">Cielo abierto</label>
                  </div>
 
                  <div class="col s2">Ciclo</div>

                  <div class="col s4">
                    <input type="radio" name="cycle" id="cyclec" value="short" ng-model="cycle" ng-change="cycleSelected();"/> 
                    <label for="cyclec">Corto</label>
                    <input type="radio" name="cycle" id="cycles" value="semishort" ng-model="cycle" ng-change="cycleSelected();">
                    <label for="cycles">SemiPermanente</label>
                    <input type="radio" name="cycle" id="cyclep" value="long" ng-model="cycle" ng-change="cycleSelected();">
                    <label cyclep>Permanente</label>                          
                  </div>
              </div>
              <br/><hr>
              <!--Bloques de ciclos cortos-->  
              <div ng-show="vegetalShortCycle">
                <div class="row">
                  <div class="col s2">Nombre</div>

                  <div class="col s4">
                    <input type="text" id="shortNameCultivation" name="shortNameCultivation" placeholder="Nombre de cultivo">    
                  </div>

                  <div class="col s2">Superficie Hect</div>

                  <div class="col s4">
                    <input type="text" id="shortSurface" name="shortSurface" placeholder="Superficie en hectáreas">
                  </div>
                </div>

                <div class="row">
                  <div class="col s2">Producción últ cosecha</div>

                  <div class="col s4">
                    <input type="text" id="lastProductionHarvest" name="lastProductionHarvest" placeholder="Producción última cosecha">    
                  </div>

                  <div class="col s2">Año últ. cosecha</div>

                  <div class="col s4">
                    <input type="text" id="lastYearHarvest" name="lastYearHarvest" placeholder="Año última cosecha">
                  </div>
                </div>                      

                <div class="row">
                  <div class="col s2">Mes y año de siembra</div>

                  <div class="col s4">
                    <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    </select>
                    <input type="text" id="plantYear" name="plantYear" placeholder="Año siembra">    
                  </div>

                  <div class="col s2">Tipo</div>

                  <div class="col s4">
                    <input type="radio" name="shortPermanentType" id="shortPermanentTypei" value="short"/> 
                    <label for="shortPermanentTypei">Intención de siembra</label>
                    <input type="radio" name="shortPermanentType" id="shortPermanentTypes" value="semishort"/>
                    <label for="shortPermanentTypes">Sembrado</label>
                  </div>
                </div>                      
              </div>

              <!--Ciclo semipermanente/permanente-->
              <div ng-show="vegetalLongCycle">
                <div class="row">
                  <div class="col s2">Nombre</div>

                  <div class="col s4">
                    <input type="text" id="longCultivationName" name="longCultivationName" placeholder="Nombre del cultivo">    
                  </div>

                  <div class="col s2">Superficie Hect</div>

                  <div class="col s4">
                    <input type="text" id="longSurface" name="longSurface" placeholder="Superficie en hectáreas">
                  </div>
                </div>

                <div>
                  <div class="col s2">Año de fundación</div>

                  <div class="col s4">
                    <input type="text" id="longFoundationYear" name="longFoundationYear" placeholder="Año de Fundación">    
                  </div>

                  <div class="col s2">Año de renovación</div>

                  <div class="col s4">
                    <input type="text" id="longRenewalYear" name="longRenewalYear" placeholder="Año renovación">
                  </div>
                </div>                      

                <div class="row">
                  <div class="col s2">Tipo</div>

                  <div class="col s4">
                    <input type="radio" name="longPermanentType" id="longPermanentTypei" value="intended"/> 
                    <label for="longPermanentTypei">Intención de siembra</label>
                    <input type="radio" name="longPermanentType" id="longPermanentTypep" value="plant"/>
                    <label for="longPermanentTypep">Plantados</label>
                  </div>

                  <div class="col s6">&nbsp; </div>
                </div>                      
              </div> <!--End VegetalLongCycle-->
            </div>  <!--Fin sector vegetal-->

            <!--Inicio sector pecuario--> 
            <div ng-show="pecuarioBlock">                  
              <div class="row">
                <div class="col s12">Sector pecuario en construcción</div>
              </div>
            </div>  

            <div ng-show="agroIndustriaBlock">                  
              <div class="row">
                <div class="col s12">Sector agroindustria en construcción</div>
              </div>
            </div>                      
            <!--Fin sector pecuario-->
          </div> <!--Fin de la unidad de producción-->
        </li>    
      </ul>
    </div>
  </div>
</div><!-- end of container -->






  
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ministerio del Poder Popular para la Agricultura Productiva y Tierras</h5>
          <p class="grey-text text-lighten-4">Si deseas conocer más acerca de nuestra nomativa, visita nuestro espacio</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li><a class="white-text" href="#!">Tel: (212) 555 7890 / 456 7891</a></li>
            <li><a class="white-text" href="#!">administrador@mpat.gob.ve</a></li>
           
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Lo nuevo</h5>
          <ul>
            <li><a class="white-text" href="#!">Manuales</a></li>
            <li><a class="white-text" href="#!">Normativas</a></li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>-->
  <script src="js/angular.min.js"></script>
  <script src="js/controller.js"></script>
 


  </body>
</html>
